﻿<root asp-prerender-module="Client/bundle/server-side">Loading...</root>

<script src="~/bundle/bundle.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/bundle/client-side.js" asp-append-version="true"></script>
}