﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <base href="~/" />

    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />*@
</head>
<body>
    <div>
        @RenderBody()

        @*<script src="~/dist/vendor.js" asp-append-version="true"></script>*@
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
